.select-language {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  &.active &__container {
    transform: translateY(0);
  }
  &__container {
    transform: translateY(-100%);
    width: 100px;
    transition: transform 0.1s linear;
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 35px 20px 35px;
  }
  &__control {
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px;
    &--menu-is-open {
      color: #0d0d0d;
    }
  }

  &__value-container {
    position: relative;
    display: flex;
    input {
      height: 0;
    }
  }
  &__single-value {
    display: flex;
  }

  &__placeholder {
    color: rgb(129, 127, 102);
  }
  &__menu {
  }
  &__menu-list {
    display: block;
  }
  &__lang-icon {
    margin-right: 8px;
    width: 17px;
    height: 17px;
  }
  &__option {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding: 5px;
    margin: 5px -5px;
    color: #000000;
    &--is-focused {
      color: #ff5d29;
    }
  }
}
