.auth-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__username {
    color: #202020;
  }
  &__role {
    font-size: 14px;
    color: #67758d;
  }
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
  &__button {
    width: 150px;
    height: 40px;
  }
}
