<section class="popup authorization-popup" id="authorization-popup">
  <h2 class="popup__title"></h2>
  <p class="popup__auxiliary-text"></p>
  <form class="popup__form">
    <label for="name"></label>
    <input type="text" name='name' class="popup__input"></input>
    <input type="text" name='phone' class="popup__input"></input>
    <input type="text" name='password' class="popup__input"></input>
    <input type="checkbox" name='ppd-agree' class="popup__checkbox"></input>
    <input type="submit" class="popup__submit-btn"></input>
  </form>
  <p class="popup__auxiliary-text">
    <a href="#" class="popup__link"></a>
  </p>
</section>