<banner class="banner">
   <div class="__container__">
      <div class="banner__wrapper">
         <div class="banner__slider bnr-slider">
            <div class="bnr-slider__wrapper">
               <div class="bnr-slider__slide bnr-slide">
                  <div class="bnr-slide__txt-col">
                     <div class="bnr-slide__heading">
                        <p>Доставка смачних суші для вашої родини і не тільки</p>
                     </div>
                     <div class="bnr-slide__text">
                        <p>Замовляйте смачні та свіжі суші для ваших смачних посиденьок</p>
                     </div>
                     <a href="#" class="bnr-slide__btn">
                        <p>Доставка</p>
                     </a>
                  </div>
                  <div class="bnr-slide__img-col">
                     <div class="bnr-slide__image">
                        <img src="./img/banner/sushi.png" alt="sushi">
                     </div>
                  </div>
               </div>
            </div>
            <div class="bnr-slider__pagination">
               <div class="bnr-slide__bullet-active"> </div>
               <div class="bnr-slide__bullet"> </div>
               <div class="bnr-slide__bullet"> </div>
               <div class="bnr-slide__bullet"> </div>
            </div>
         </div>
         <a href="#" class="banner__more">
            <p>Меню</p>
         </a>
      </div>
   </div>
</banner>