<section class="bucket-popup" id="bucket-popup">
   <div class="bucket-popup__wrapper">
      <div class="bucket-popup__heading">
         <p>Кошик</p>
         <div class="bucket-popup__close-btn"></div>
      </div>
      <ul class="bucket-popup__items">
         <li class="bucket-popup__item bp-item">
            <div class="bp-item__delete"></div>
            <div class="bp-item__img">
               <img src="./img/rolls-3.png" alt="">
            </div>
            <section class="bp-item__info">
               <div class="bp-item__name">
                  <p>Рол Філадельфія</p>
               </div>
               <div class="bp-item__weight">
                  <p>290гр.</p>
               </div>
               <div class="bp-item__total">
                  <div class="bp-item__count item-cnt">
                     <button class="item-cnt__less">
                        <p>&#8722;</p>
                     </button>
                     <div class="item-cnt__num">
                        <p>2</p>
                     </div>
                     <button class="item-cnt__more">
                        <p>+</p>
                     </button>
                  </div>
                  <div class="bp-item__cost">
                     <p>399грн.</p>
                  </div>
               </div>
            </section>
         </li>
         <li class="bucket-popup__item bp-item">
            <div class="bp-item__delete"></div>
            <div class="bp-item__img">
               <img src="./img/rolls-4.png" alt="">
            </div>
            <section class="bp-item__info">
               <div class="bp-item__name">
                  <p>Рол Каліфорнія</p>
               </div>
               <div class="bp-item__weight">
                  <p>290гр.</p>
               </div>
               <div class="bp-item__total">
                  <div class="bp-item__count item-cnt">
                     <button class="item-cnt__less">
                        <p>&#8722;</p>
                     </button>
                     <div class="item-cnt__num">
                        <p>2</p>
                     </div>
                     <button class="item-cnt__more">
                        <p>+</p>
                     </button>
                  </div>
                  <div class="bp-item__cost">
                     <p>399грн.</p>
                  </div>
               </div>
            </section>
         </li>
      </ul>
      <section class="bucket-popup__result bp-res">
         <div class="bp-res__sum">
            <p>Сума: 798 грн.</p>
         </div>
         <button class="bp-res__order-btn">
            <p>Замовити</p>
         </button>
      </section>
   </div>
</section>