<section class="delivery">
   <div class="__container__">
      <div class="delivery__wrapper">
         <div class="delivery__heading">
            <h2>Доставка здійснюється</h2>
            <h3>з 10:00 до 20:00</h3>
         </div>
         <div class="delivery__features">
            <div class="delivery__features-row">
               <div class="delivery__feature-col d-feature">
                  <div class="d-feature__number">
                     <p>01</p>
                  </div>
                  <div class="d-feature__heading">
                     <p>Швидке оформлення</p>
                  </div>
                  <div class="d-feature__description">
                     <p>Замовляйте та отримуйте своє замовлення швидко та зручно.</p>
                  </div>
               </div>
               <div class="delivery__feature-col d-feature">
                  <div class="d-feature__number">
                     <p>02</p>
                  </div>
                  <div class="d-feature__heading">
                     <p>Оплата будь-яким способом</p>
                  </div>
                  <div class="d-feature__description">
                     <p>Оплачуйте замовлення будь - яким способом: готівка / банківська карта.</p>
                  </div>
               </div>
               <div class="delivery__feature-col d-feature">
                  <div class="d-feature__number">
                     <p>03</p>
                  </div>
                  <div class="d-feature__heading">
                     <p>Безкоштовна доставка</p>
                  </div>
                  <div class="d-feature__description">
                     <p>При замовленні на суму більше 350 гривень доставка - безкоштовна!</p>
                  </div>
               </div>
            </div>
         </div>
         <a class="delivery__more">
            <p>Доставка</p>
         </a>
      </div>
   </div>

</section>