<footer class="footer">
   <div class="__container__">
      <div class="footer__wrapper">
         <div class="footer__row">
            <ul class="footer__info footer__list">
               <div class="footer__list-heading">
                  <p>Інформація</p>
               </div>
               <a href="#" class="footer__li">
                  <p>Публічний договір</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Про нас</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Інформація про доставку</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Вакансії</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Політика конфіденційності</p>
               </a>
            </ul>
            <ul class="footer__support footer__list">
               <div class="footer__list-heading">
                  <p>Служба підтримки</p>
               </div>
               <a href="#" class="footer__li">
                  <p>Всі контакти</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Мапа сайту</p>
               </a>
            </ul>
            <ul class="footer__contacts footer__list">
               <div class="footer__list-heading">
                  <p>Контакти</p>
               </div>
               <a href="#" class="footer__li">
                  <p>+38(096)45-21-347</p>
               </a>
               <a href="#" class="footer__li">
                  <p>+38(096)45-21-347</p>
               </a>
               <a href="#" class="footer__li">
                  <p>+38(096)45-21-347</p>
               </a>
            </ul>
            <ul class="footer__personal-account footer__list">
               <div class="footer__list-heading">
                  <p>Особистий кабінет</p>
               </div>
               <a href="#" class="footer__li">
                  <p>Особистий кабінет</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Історія замовлень</p>
               </a>
            </ul>
            <ul class="footer__additional footer__list">
               <div class="footer__list-heading">
                  <p>Додатково </p>
               </div>
               <a href="#" class="footer__li">
                  <p>Акції</p>
               </a>
               <a href="#" class="footer__li">
                  <p>Новинки</p>
               </a>
            </ul>
         </div>
         <div class="footer__copyright">
            <p>© Усі права захищені 2021</p>
         </div>
      </div>
   </div>

</footer>