<header class="header">
   <div class="__container__">
      <div class="header__wrapper">
         <nav class="header__nav h-nav" id="nav-menu">
            <div class="h-nav__wrapper">
               <div class="h-nav__close i-close"></div>
               <div class="h-nav__logo logo">
                  <div class="logo__img">
                     <img src="./img/fs-logo.svg" alt="Logo">
                  </div>
                  <div class="logo__text">
                     <img src="./img/fs-logo-text-line.png" alt="Festival sushi">
                  </div>
               </div>
               <div class="h-nav__items-wrapper">
                  <a href="#" class="h-nav__item">
                     Головна
                  </a>
                  <a href="#" class="h-nav__item">
                     Меню
                  </a>
                  <a href="#" class="h-nav__item">
                     Акції
                  </a>
                  <a href="#" class="h-nav__item">
                     Доставка
                  </a>
               </div>
               <div class="h-nav__about">
                  <a href="#" class="h-nav__item">Про нас</a>
                  <span>/</span>
                  <a href="#" class="h-nav__item">Контакти</a>
               </div>
            </div>
         </nav>
         <a class="header__contact" href="tel:+3809812345678">
            <p>+38(098)12345678</p>
         </a>
         <div class="header__bucket bucket" id="bucket-btn">
            <div class="bucket__bucket">
               <span class="bucket__item-cnt">
                  6
               </span>
            </div>
            <div class="bucket__sum">
               <p>820 грн.</p>
            </div>
         </div>
         <div class="header__burger" id="burger-menu">
            <span></span>
         </div>
         <div class="header__location select-location">
            <div class="select-location__control">
               <div class="select-location__value-container">Фастів</div>
               <div class="select-location__indicators">
                  <div class="select-location__indicator"></div>
               </div>
            </div>

            <div class="select-location__menu">
              <div class="select-location__option">
                Фастів
              </div>
              <div class="select-location__option">
                Фастів
              </div>
              <div class="select-location__option">
                Фастів
              </div>
              <div class="select-location__option">
                Фастів
              </div>
              <div class="select-location__option">
                Фастів
              </div>
              <div class="select-location__option">
                Фастів
              </div>
            </div>
         </div>
      </div>
   </div>
</header>