<section class="restaurants">
   <div class="__container__">
      <div class="restaurants__wrapper">
         <div class="restaurants__heading">
            <p>Наші заклади</p>
         </div>
         <div class="restaurants__row">
            <div class="restaurants__col">
               <div class="restaurants__city"></div>
               <div class="restaurants__contacts r-contacts">
                  <div class="r-contacts__heading">
                     <p>Контакти:</p>
                  </div>
                  <a href="tel:+38(096)45-778-56" class="r-contacts__phone r-contacts__contact">
                     <p>+38(096)45-778-56</p>
                  </a>
                  <div class="r-contacts__work-hours r-contacts__contact">
                     <p>10:00 - 20:00</p>
                  </div>
                  <a href="mailto:festival@gmail.com" class="r-contacts__mail ">
                     <p>festival@gmail.com</p>
                  </a>
               </div>
            </div>
            <div class="restaurants__col">
               <div class="restaurants__address">
                  <h2>Вул. Антоновича 35.</h2>
                  <div class="restaurants__working-hours">
                     <p>пн-пт: 10:00-20:00</p>
                     <p>сб-нд: 11:00-19:00</p>
                  </div>
               </div>
               <div class="restaurants__address">
                  <h2>Вул. Андрія Кобзара 112.</h2>
                  <div class="restaurants__working-hours">
                     <p>пн-пт: 10:00-20:00</p>
                     <p>сб-нд: 11:00-19:00</p>
                  </div>
               </div>
               <div class="restaurants__address">
                  <h2>Вул. Лобачевського 23.</h2>
                  <div class="restaurants__working-hours">
                     <p>пн-пт: 10:00-20:00</p>
                     <p>сб-нд: 11:00-19:00</p>
                  </div>
               </div>
            </div>
            <div class="restaurants__gmap">
               <img src="./img/map.png" alt="">
            </div>
         </div>
      </div>
   </div>
</section>