<section class="payment-block">
   <div class="__container__">
      <div class="payment-block__wrapper">
         <div class="payment-block__heading">
            <p>Оформлення замовлення</p>
         </div>
         <div class="payment-block__row">
            <div class="payment-block__col ">
               <ul class="payment-block__ordered-items">
                  <li class="payment-block__ordered-item bp-item">
                     <div class="bp-item__delete"></div>
                     <div class="bp-item__img">
                        <img src="./img/rolls-4.png" alt="">
                     </div>
                     <section class="bp-item__info">
                        <div class="bp-item__name">
                           <p>Рол Каліфорнія</p>
                        </div>
                        <div class="bp-item__weight">
                           <p>290гр.</p>
                        </div>
                        <div class="bp-item__additionals">
                           <p>+ 1 порція імбиру та соусу</p>
                        </div>
                        <div class="bp-item__total">
                           <div class="bp-item__count item-cnt">
                              <button class="item-cnt__less">
                                 <p>&#8722;</p>
                              </button>
                              <div class="item-cnt__num">
                                 <p>2</p>
                              </div>
                              <button class="item-cnt__more">
                                 <p>+</p>
                              </button>
                           </div>
                           <div class="bp-item__cost">
                              <p>399грн.</p>
                           </div>
                        </div>
                     </section>
                  </li>
                  <li class="payment-block__ordered-item bp-item">
                     <div class="bp-item__delete"></div>
                     <div class="bp-item__img">
                        <img src="./img/rolls-4.png" alt="">
                     </div>
                     <section class="bp-item__info">
                        <div class="bp-item__name">
                           <p>Рол Каліфорнія</p>
                        </div>
                        <div class="bp-item__weight">
                           <p>290гр.</p>
                        </div>
                        <div class="bp-item__additionals">
                           <p>+ 1 порція імбиру та соусу</p>
                        </div>
                        <div class="bp-item__total">
                           <div class="bp-item__count item-cnt">
                              <button class="counter-button counter-button--substract">
                                 <p>&#8722;</p>
                              </button>
                              <div class="item-cnt__num">
                                 <p>2</p>
                              </div>
                              <button class="counter-button counter-button--add counter-button--outlined">
                                 <p>+</p>
                              </button>
                           </div>
                           <div class="bp-item__cost">
                              <p>399грн.</p>
                           </div>
                        </div>
                     </section>
                  </li>
               </ul>
               <table class="payment-block__additional-items">
                  <tr class="payment-block__additional-item ad-item">
                     <td class="ad-item__naming">
                        <p>Додатковий соєвий соус</p>
                     </td>
                     <td class="ad-item__price">(+10 грн.)</td>
                     <td class="ad-item__checkbox">
                        <input type="checkbox" name="soy-sause" id="soy-sause">
                        <label for="soy-sause"></label>
                     </td>
                  </tr>
                  <tr class="payment-block__additional-item ad-item">
                     <td class="ad-item__naming">
                        <p>Додатковий набір паличок</p>
                     </td>
                     <td class="ad-item__price">(+10 грн.)</td>
                     <td class="ad-item__checkbox">
                        <input type="checkbox" name="sticks" id="sticks">
                        <label for="sticks"></label>
                     </td>
                  </tr>
                  <tr class="payment-block__additional-item ad-item">
                     <td class="ad-item__naming">
                        <p>Додатковий імбир</p>
                     </td>
                     <td class="ad-item__price">(+10 грн.)</td>
                     <td class="ad-item__checkbox">
                        <input type="checkbox" name="ginger" id="ginger">
                        <label for="ginger"></label>
                     </td>
                  </tr>
               </table>
            </div>
            <div class="payment-block__col ">
               <section class="payment-block__order-additional order-additional ">
                  <div class="order-additional__row">
                     <div class="order-additional__col order-additional__info add-info">
                        <div class="order-additional__heading add-info__heading">
                           <p>Інформація</p>
                        </div>
                        <div class="add-info__name form-group">
                           <input type="text" name="name" id="name">
                           <label for="name">
                              <p>Ім'я</p>
                           </label>
                        </div>
                        <div class="add-info__phone form-group">
                           <input type="text" name="phone" id="phone">
                           <label for="phone">
                              <p>Номер телефону</p>
                           </label>
                        </div>

                     </div>
                     <div class="order-additional__col order-additional__delivery oa-delivery">
                        <div class="order-additional__heading oa-delivery__heading">
                           <p>Доставка</p>
                        </div>
                        <div class="order-additional__checkbox oa-delivery__checkbox">
                           <input type="radio" name="delivery-way" id="self-pickup">
                           <label for="self-pickup"></label>
                           <p>Самовивіз</p>
                        </div>
                        <div class="order-additional__checkbox oa-delivery__checkbox">
                           <input type="radio" name="delivery-way" id="courier">
                           <label for="courier"></label>
                           <p>Кур’єр</p>
                        </div>
                        <div class="oa-delivery__text">
                           <div class="oa-delivery__text-heading">
                              <p>Самовивіз здійснюється:</p>
                           </div>
                           <p>з <b>10:00</b> до <b>22:00</b> за адресою: вул. Вишневецького 23.</p>
                        </div>

                     </div>
                  </div>
                  <div class="order-additional__row">
                     <div class="order-additional__col oa-payment">
                        <div class="order-additional__heading oa-payment__heading">
                           <p>Спосіб оплати</p>
                        </div>
                        <label class="oa-payment__checkbox radio-input">                     
                              <input type="radio" name="payment-way" value='1' data-pway-id='1'>
                              <div class="radio-input__checkbox"></div>
                              <p>Оплата при отриманні</p>
                        </label>
                        <label class="oa-payment__checkbox radio-input">
                           <input type="radio" name="payment-way" value='2' data-pway-id='2'>
                           <div class="radio-input__checkbox">
                           </div>
                           <p>Банківська карта</p>
                        </label>
                     </div>
                     <div class="order-additional__col order-additional__sum order-sum">
                        <div class="order-additional__heading order-sum__name">
                           <p>Сума</p>
                        </div>
                        <div class="order-sum__main order-sum__row">
                           <div class="order-sum__heading">
                              <p>Товари</p>
                           </div>
                           <div class="order-sum__amount">
                              <p>798₴</p>
                           </div>
                        </div>
                        <div class="order-sum__additionals order-sum__row">
                           <div class="order-sum__heading">
                              <p>Додатки</p>
                           </div>
                           <div class="order-sum__amount">
                              <p>22₴</p>
                           </div>
                        </div>
                        <div class="order-sum__delivery order-sum__row">
                           <div class="order-sum__heading">
                              <p>Доставка</p>
                           </div>
                           <div class="order-sum__amount">
                              <p>0₴</p>
                           </div>
                        </div>
                        <div class="order-sum__all order-sum__row">
                           <div class="order-sum__heading">
                              <p>Сума до сплати</p>
                           </div>
                           <div class="order-sum__amount order-sum__all--amount">
                              <p>820₴</p>
                           </div>
                        </div>
                        <button class="order-sum__order-btn">
                           <p>Замовити</p>
                        </button>
                     </div>
                  </div>
               </section>
            </div>
         </div>
</section>
</div>

</div>
</div>
</section>