<aside class="sidenav" id="sidenav">
   <div class="sidenav__wrapper">
      <div class="sidenav__logo logo">
         <div class="logo__img">
            <img src="./img/fs-logo.svg" alt="Logo">
         </div>
         <div class="logo__text">
            <img src="./img/fs-logo-text.png" alt="Festival sushi">
         </div>
      </div>
      <div class="sidenav__menu">
         <a href="#" class="sidenav__menu-item m-item">
            <div class="sidenav__sets m-item__icon">
               <div class="sidenav__sets m-item__text">
                  <p>Сети</p>
               </div>
            </div>

         </a>
         <a href="#" class="sidenav__menu-item m-item">
            <div class="sidenav__rolls m-item__icon">
               <div class="m-item__text">
                  <p>Роли</p>
               </div>
            </div>

         </a>
         <a href="#" class="sidenav__menu-item m-item">
            <div class="sidenav__sushi m-item__icon">
               <div class="m-item__text">
                  <p>Суші</p>
               </div>
            </div>

         </a>
         <a href="#" class="sidenav__menu-item m-item">
            <div class="sidenav__soups m-item__icon">
               <div class="m-item__text">
                  <p>Супи</p>
               </div>
            </div>

         </a>
         <a href="#" class="sidenav__menu-item m-item">
            <div class="sidenav__drinks m-item__icon">
               <div class="m-item__text">
                  <p>Напої</p>
               </div>
            </div>
         </a>
      </div>
   </div>
</aside>