<section class="tproposals">
   <div class="__container__">
      <div class="tproposals__wrapper">

         <div class="tproposals__heading">
            <p>Топ позиції </p>
         </div>
         <div class="tproposals__description">
            <p>Нижче Ви можете ознойомитися з нашим асориментом вишуканих сетів,суші, супів та комбо - меню</p>
         </div>

         <section class="tproposals__proposal tproposal">
            <div class="tproposal__heading">
               <h2>
                  Сети
               </h2>
               <a href="#" class="tproposal__show-more">
                  <p>Показати усі</p>
               </a>
            </div>

            <div class="tproposal__row">
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/set-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/set-2.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/set-3.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/set-4.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="tproposals__proposal tproposal">
            <div class="tproposal__heading">
               <h2>
                  Роли
               </h2>
               <a href="#" class="tproposal__show-more">
                  <p>Показати усі</p>
               </a>
            </div>

            <div class="tproposal__row">
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/rolls-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/rolls-2.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/rolls-3.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/rolls-4.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="tproposals__proposal tproposal">
            <div class="tproposal__heading">
               <h2>
                  Сети
               </h2>
               <a href="#" class="tproposal__show-more">
                  <p>Показати усі</p>
               </a>
            </div>

            <div class="tproposal__row">
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/sushi-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/sushi-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/sushi-3.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/sushi-3.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section class="tproposals__proposal tproposal">
            <div class="tproposal__heading">
               <h2>
                  Супи
               </h2>
               <a href="#" class="tproposal__show-more">
                  <p>Показати усі</p>
               </a>
            </div>

            <div class="tproposal__row">
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/soup-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/soup-2.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/soup-1.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
               <div class="tproposal__col">
                  <div class="tproposal__item tp-item">
                     <div class="tp-item__img">
                        <img src="./img/soup-2.png" alt="">
                     </div>
                     <div class="tp-item__info">
                        <div class="tp-item__heading">
                           <h3>Фила Гранд
                           </h3>
                        </div>
                        <div class="tp-item__description">
                           <p>ролл Филадельфия с копченым
                              лососем, ролл Филадельфия в
                              масаго, ролл Джинджер, рол
                              крабик 924 г</p>
                        </div>
                        <div class="tp-item__price">
                           <p>299грн.</p>
                        </div>
                        <button class="tp-item__to-bucket">
                           <p>В корзину</p>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
</section>