.menu {
  margin: 50px 0;
  &__heading {
    font-size: 48px;
    font-family: MontserratMedium;
    margin-bottom: 60px;
    color: #343434;
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  &__item {
    margin: 10px;
  }
}

.category-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin: -25px;
  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0px 4px 23px rgba(5, 4, 39, 0.03);
    border-radius: 12px;
    margin: 25px;
    align-items: center;
    &-text {
      font-family: MontserratSemiBold;
      font-size: 28px;
      color: #343434;
      position: absolute;
      bottom: 53px;
    }
    &:hover {
      box-shadow: 0px 4px 23px rgba(5, 4, 39, 0.2);
    }
  }
  &__img {
    width: 240px;
    height: 255px;
    margin-top: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &--set {
      background-image: url("../../../assets/img/menu/set.png");
    }
    &--roll {
      background-image: url("../../../assets/img/menu/roll.png");
    }
    &--soup {
      background-image: url("../../../assets/img/menu/soup.png");
    }
    &--drink {
      background-image: url("../../../assets/img/menu/drink.png");
    }
    &--sushi {
      background-image: url("../../../assets/img/menu/sushi.png");
    }
  }
}
