.cart-button {
  cursor: pointer;
  display: flex;
  background: transparent;
  align-items: center;
  border: none;
  color: #ffffff;
  &::before {
    content: "";
    background: url("../../../assets/img/header/cart.svg") center center/contain
      no-repeat;
    width: 34px;
    height: 34px;
    margin-right: 10px;
  }
}

.cart {
  position: relative;
  &::before {
    content: "";
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid #ffffff;
    position: absolute;
    bottom: 100%;
  }
  &__dash {
    display: block;
    width: 100%;
    background: #e5e5e5;
    height: 1px;
    position: absolute;
    left: 0;
  }
  &__wrapper {
    width: 490px;
    padding: 45px 50px;
    border-radius: 6px;
    color: #0d0d0d;
    background-color: #fff;
    position: absolute;
    right: -100px;
    top: 100%;
  }

  &__items {
    position: relative;
    margin: 15px 0 25px;
    z-index: 2;
    width: calc(100% + 25px);
    padding-right: 10px;
    max-height: 410px;
    overflow-y: scroll;
  }
  &__to-menu {
    height: 46px;
    margin: auto;
  }
  &__empty {
    text-align: center;
  }
  &__item {
    padding: 12.5px 0;
  }
  &__heading {
    font-size: 28px;
    margin-bottom: 15px;
  }
  &__result {
    padding-top: 45px;
    display: flex;
    align-items: center;
  }
  &__sum {
    font-size: 1.25rem;
    font-family: msb;
    color: #0d0d0d;
    margin-right: 50px;
  }
  &__order-btn {
    font-size: 16px;
    height: 46px;
    width: 160px;
    margin-left: auto;
  }
}

.cart-module {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  &__modal {
    padding: 0;
    position: relative;
    background-color: transparent;
    .modal {
      &__close {
        z-index: 2;
        right: -50px;
        top: 50px;
      }
    }
  }
  &__button {
    height: 100%;
  }
}
