.footer {
  display: flex;
  background: #182f37;
  margin-top: auto;

  &__wrapper {
    position: relative;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__row {
    display: flex;
  }

  &__list {
    &--info {
      order: 1;
    }
    &--support {
      margin-left: 130px;
      order: 2;
    }
    &--contacts {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      order: 3;
    }
    &--account {
      margin-left: auto;
      order: 4;
    }

    &--additional {
      margin-left: 165px;
      order: 5;
    }
  }

  &__copyright {
    color: #ffffff;
    margin-top: 12px;
    font-family: Roboto;
    font-size: 13px;
    text-align: center;
  }
}

.footer-list {
  &__heading {
    color: #ffffff;
    font-family: RobotoMedium;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__link {
    display: block;
    padding: 5px 0;
    color: #afafaf;
    font-family: Roboto;
    font-size: 14px;
    &:hover {
      color: #ff5d29;
    }
  }
  .i-phone {
    display: flex;
    &::before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      background: url("../../assets/img/phone.svg") center/contain no-repeat;
    }
  }
}
