.more-link{
   display: flex;
   align-self: center;
   cursor: pointer;
   font-size: 14px;
   font-family: MontserratMedium;
   padding: 12px 15px;
   border: none;
   color: #FF5D29;
   &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 20px;
      height: 20px;
      border-top: 1px solid #FF5D29;
      border-right: 1px solid #FF5D29;
      color: #FF5D29;
   }
   &:hover{
      font-family: MontserratBold;
      letter-spacing: -0.02em;
      &::after{
      border-top-width: 2px;
      border-right-width: 2px;
      }
   }
}