.counter-button{
   cursor: pointer;
   display: flex;
   width: 22px;
   height: 22px;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 50%;
   color: #ffffff;
   background: #7AC74F;
   &::after, &::before{
      content: '';
      display: none;
      position: absolute;
      height: 2px;
      width: 14px;
      background: #ffffff;
      border-radius: 3000px;
   }
   &::before{
      transform: rotate(90deg);
   }
   &--add{
      &::after, &::before{
         display: block;
      }
   }
   &--substract{
      &::after{
         display: block;
      }
   }
   &--outlined{
      border: 1px solid #7AC74F;
      background: #ffffff;
      &::after, &::before{
         background: #7AC74F;
      }
   }
}