.delivery {
   display: flex;
   background-image: linear-gradient(120deg, #2b5263 0%, #223e48 51%, #142930 100%);
   &__wrapper {
      color: white;
      width: 100%;
      padding: 65px 0 90px;
   }

   &__heading {
      padding-left: 15px;
      h2 {
         font-family: MontserratBold;
         font-size: 55px;
         margin-bottom: 10px;
      }
      h3 {
         font-family: MontserratMedium;
         font-size: 42px;
      }
   }

   &__features-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__features {
      margin-top: 40px;
      margin-bottom: 60px;
   }

   &__feature-col {
   }

   &__more {
      display: flex;
      font-size: 22px;
      font-family: "RobotoMedium";
      width: 230px;
      height: 68px;
      background: #ff5d29;
      border-radius: 65px;
      align-items: center;
      justify-content: center;
   }
}
.d-feature {
   position: relative;
   padding: 90px 0 0 45px;
   &__number {
      user-select: none;
      font-family: MontserratBold;
      color: rgba(210, 210, 210, 0.21);
      font-size: 144px;
      position: absolute;
      top: 0;
      left: 0;
   }

   &__heading {
      font-family: MontserratBold;
      font-size: 24px;
      margin-bottom: 20px;
   }

   &__description {
      width: 300px;
      font-size: 14px;
      line-height: (18/14);
   }
}
