.header {
  display: flex;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2;
  background-image: linear-gradient(
    120deg,
    #2b5263 0%,
    #223e48 51%,
    #142930 100%
  );
  border-bottom: 1px solid grey;
  @media (max-width: #{$b2}px) {
    z-index: 3;
  }
  &__container {
  }

  &__logo {
    display: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 17px;
    @media (max-width: #{$b1}px) {
      height: adaptVal(90, 80, $b1, $b2);
    }
    @media (max-width: #{$b2}px) {
      height: adaptVal(80, 50, $b2, $b3);
      font-size: 14px;
    }
  }

  &__nav {
    flex: 0 1 50%;
    @media (max-width: #{$b2}px) {
      position: fixed;
      left: -100%;
      top: 0;
      z-index: 3;
      width: 275px;
      height: 100%;
      transition: left 0.3s ease;
      &.active {
        left: 0;
      }
    }
  }

  &__contact {
    margin-left: auto;
    font-family: "Roboto";
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      margin-right: 25px;
      width: 27px;
      height: 25px;
      background: url("../img/phone.svg") center/contain no-repeat;
    }
    @media (max-width: #{$b2}px) {
      position: absolute;
      left: 35%;
      transform: translateX(-50%);
      &::before {
        margin-right: 12px;
        width: 20px;
        height: 18px;
        background: url("../img/phone.svg") center/contain no-repeat;
      }
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  &__bucket {
    margin-left: (255/1920) * 100vw;
  }

  &__burger {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 28px;
    height: 20px;
    & span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #ffffff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      display: block;
      top: 50%;
      transform: translateY(-50%);
    }

    @media (max-width: #{$b2}px) {
      display: block;
    }
    @media (max-width: 500px) {
      width: 19px;
      height: 15px;
      & span,
      &::before,
      &::after {
        height: 3px;
      }
    }
  }
  &__location {
    // display: none;
    // position: absolute;
    // right: 30%;
    // transform: translateX(50%);
    @media (max-width: #{$b2}px) {
      display: flex;
    }
  }
}
.h-nav {
  display: flex;
  &__logo {
    display: none !important;
    position: absolute;
    @media (max-width: #{$b2}px) {
      top: 22px;
      left: 22px;
      display: flex !important;
      height: 53px;
    }
    .logo__img {
      height: 100%;
    }
  }
  &__item {
    display: block;
    margin-right: (60/1920) * 100vw;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: none;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #ff5d29;
    }
    &:hover::after {
      display: block;
    }
    @media (max-width: #{$b2}px) {
      padding: 15px 0;
      margin: 0 0 35px 0;
      &:hover::after {
        display: none;
      }
    }
  }
  &__wrapper {
    @media (max-width: #{$b2}px) {
      display: flex;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: #ffffff;
      font-family: MontserratSemiBold;
      font-size: 17px;
      color: #000123;
      z-index: 3;
      flex-direction: column;
      align-items: center;
      padding: 150px 0 50px 0px;
    }
  }

  &__items-wrapper {
    display: flex;
    @media (max-width: #{$b2}px) {
      margin: -15px 0px;
      padding-left: 60px;
      flex-direction: column;
      width: 100%;
    }
  }
  &__about {
    display: none;
    margin-top: auto;
    font-family: Montserrat;
    font-size: 14px;
    color: #000000;
    a {
      margin: -15px 0;
    }
    span {
      padding: 0 11px;
    }
    @media (max-width: #{$b2}px) {
      display: flex;
    }
  }
  &__close {
    width: 15px;
    height: 15px;
    position: absolute;
    display: none;
    cursor: pointer;
    right: 25px;
    top: 40px;
    @media (max-width: #{$b2}px) {
      display: block;
    }
  }
  @media (max-width: #{$b2}px) {
    &.active {
      &::before {
        content: "";
        position: fixed;
        display: block;
        filter: blur(5px);
        left: 0;
        top: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.45);
      }
    }
  }
}
.bucket {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &__bucket {
    position: relative;
    width: 40px;
    height: 40px;
    background: url("../img/bucket.svg") center/contain no-repeat;
    @media (max-width: #{$b1}px) {
      width: adaptVal(40, 35, $b1, $b2);
      height: adaptVal(40, 35, $b1, $b2);
    }
    @media (max-width: #{$b2}px) {
      width: adaptVal(35, 15, $b2, $b3);
      height: adaptVal(35, 15, $b2, $b3);
    }
  }
  &__item-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-size: 12px;
    color: #000000;
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    right: 0;
    transform: translateY(-50%);
    @media (max-width: #{$b2}px) {
      font-size: adaptVal(12, 8, $b2, $b3);
      width: adaptVal(13, 8, $b2, $b3);
      height: adaptVal(13, 8, $b2, $b3);
    }
  }
  &__sum {
    font-family: "RobotoBold";
    font-size: 18px;
    margin-left: 10px;
    @media (max-width: #{$b1}px) {
      font-size: adaptVal(18, 14, $b1, $b2);
    }
    @media (max-width: #{$b2}px) {
      font-size: adaptVal(14, 9, $b2, $b3);
    }
  }
  @media (max-width: #{$b1}px) {
    margin-left: auto;
  }
}

.main {
  margin-top: 90px;
}

.header {
  &__location {
  }
}

.select-location {
  background-color: #fff;
  flex-direction: column;
  padding: 30px 20px;
  position: absolute;
  top: 0;
  &__control {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      filter: brightness(0);
      background: url("../img/location-icon.svg") center/contain no-repeat;
    }
  }

  &__value-container {
    font-family: MontserratSemiBold;
    font-size: 17px;
    color: #0d0d0d;
  }

  &__indicators {
    margin-left: 6px;
  }

  &__indicator {
    width: 18px;
    height: 11px;
    background: url("../img/arrow-dropdown.svg") center/contain no-repeat;
  }

  &__menu {
    background-color: #ffffff;
    margin-top: 15px;
    display: grid;
    margin-bottom: -10px;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  &__option {
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 0;
    margin: 5px 0;
    color: #000000;
  }
}

.__container {
  padding: 0 150px;
  display: flex;
  align-items: center;
}
.__content-wrapper {
  width: 1300px;
}
