.tproposals {
   display: flex;
   &__wrapper {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 125px 0px 220px;
   }

   &__heading {
      font-size: 60px;
      color: #343434;
      font-family: "MontserratSemiBold";
   }

   &__description {
      color: #5a5a5a;
      padding-top: 25px;
      font-size: 24px;
   }

   &__proposal {
      margin-top: 75px;
   }
}
.tproposal {
   width: 100%;
   &__heading {
      display: flex;
      margin-bottom: 50px;
      font-family: MontserratMedium;
      font-size: 48px;
   }

   &__show-more {
      position: relative;
      margin-right: 50px;
      margin-left: auto;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-family: MontserratMedium;
      padding: 12px 15px;
      justify-content: flex-start;
      border: none;
      color: #FF5D29;
      align-self: center;
      &::after{
         content: '';
         position: absolute;
         right: 0;
         top: 0;
         display: block;
         width: 20px;
         height: 20px;
         border-top: 1px solid #FF5D29;
         border-right: 1px solid #FF5D29;
         color: #FF5D29;
      } 
      &:hover{
         font-family: MontserratBold;
         letter-spacing: -0.02em;
         &::after{
         border-top-width: 2px;
         border-right-width: 2px;
         }
      }
   }

   &__row {
      width: 100%;
      margin: 0 -10px;
      display: flex;
      flex-wrap: wrap;
   }

   &__col {
      flex: 0 0 25%;
   }

   &__item {
      padding: 0 10px;
   }
}
.tp-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   &__img {
      height: 220px;
      width: auto;
      img {
         object-fit: cover;
         object-position: center center;
      }
   }
   &__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 40px 40px 40px;
   }

   &__heading {
      font-size: 24px;
      font-family: MontserratBold;
   }

   &__description {
      margin-top: 10px;
      margin-bottom: 15px;
      height: 65px;
      font-size: 13px;
      color: #474747;
      overflow: hidden;
   }

   &__price {
   }

   &__to-bucket {
      margin-left: auto;
      cursor: pointer;
      color: #ffffff;
      width: 129px;
      height: 40px;
      border-radius: 44px;
      background-color: #ff6938;
      border-width: 0px;
      &:hover {
         box-shadow: 0px 5px 10px #ff6938;
      }
   }
}
