.dish-slider {
  display: flex;
  overflow: hidden;
  &__container {
  }
  &__wrapper {
    margin: auto;
  }
  &__slide {
  }
  &__next-el,
  &__prev-el {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &::before {
      background: url() center/contain no-repeat;
    }
  }
  &__prev-el {
    left: 0;
    &::before {
      transform: rotate(180deg);
    }
  }
  &__next-el {
    right: 0;
  }
  &__veil-start,
  &__veil-end {
    width: 200px;
    height: 100%;
    position: absolute;
  }
  &__veil-start {
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.783333401720063) 100%
    );
  }
  &__veil-end {
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.783333401720063) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
