.footer {
  display: flex;
  background: #000;
  margin-top: auto;
  &__wrapper {
    color: #ffffff;
    width: 100%;
    padding: 65px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__info {
  }
  &__list-heading {
    font-family: RobotoMedium;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__list {
  }

  &__li {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    color: #afafaf;
    padding: 5px 0;
  }

  &__support {
  }

  &__contacts {
    a {
      display: flex;
    }
    a::before {
      content: "";
      display: inline-block;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      background: url("../img/footer-phone.svg") center/contain no-repeat;
    }
  }

  &__personal-account {
  }

  &__additional {
  }

  &__copyright {
    margin-top: 10px;
    font-family: Roboto;
    font-size: 13px;
    text-align: center;
  }
}
