@font-face {
  font-family: "RobotoBold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMedium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratBold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "MontserratSemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: regular;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 1em;
  outline: none;
}

code,
kbd,
samp,
pre,
tt,
var,
textarea,
input,
select,
isindex,
listing,
xmp,
plaintext {
  font: inherit;
  font-size: 1em;
  white-space: normal;
}

dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}

th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a,
img,
a img,
iframe,
form,
fieldset,
abbr,
acronym,
object,
applet,
table {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td,
center {
  text-align: left;
  vertical-align: top;
}

body {
  line-height: 1;
  background: white;
  color: black;
}

q {
  quotes: "" "";
}

ul,
ol,
dir,
menu {
  list-style: none;
}

sub,
sup {
  vertical-align: baseline;
}

a {
  color: inherit;
}

hr {
  display: none;
}

/* we don't need a visual hr in layout */

/* disables some nasty font attributes in standard browsers */

font {
  color: inherit !important;
  font: inherit !important;
  color: inherit !important;
}

marquee {
  overflow: inherit !important;
  -moz-binding: none;
}

blink {
  text-decoration: none;
}

nobr {
  white-space: normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  margin-top: auto;
}

.footer__wrapper {
  color: #ffffff;
  width: 100%;
  padding: 65px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__list-heading {
  font-family: RobotoMedium;
  font-size: 18px;
  margin-bottom: 15px;
}

.footer__li {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  color: #afafaf;
  padding: 5px 0;
}

.footer__contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts a::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background: url("../img/footer-phone.svg") center/contain no-repeat;
}

.footer__copyright {
  margin-top: 10px;
  font-family: Roboto;
  font-size: 13px;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 2;
  background-image: -o-linear-gradient(330deg, #2b5263 0%, #223e48 51%, #142930 100%);
  background-image: linear-gradient(120deg, #2b5263 0%, #223e48 51%, #142930 100%);
  border-bottom: 1px solid grey;
}

.header__logo {
  display: none;
}

.header__wrapper {
  position: relative;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 17px;
}

.header__nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.header__contact {
  margin-left: auto;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__contact::before {
  content: "";
  display: inline-block;
  margin-right: 25px;
  width: 27px;
  height: 25px;
  background: url("../img/phone.svg") center/contain no-repeat;
}

.header__bucket {
  margin-left: 13.28125vw;
}

.header__burger {
  cursor: pointer;
  display: none;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 28px;
  height: 20px;
}

.header__burger span,
.header__burger::before,
.header__burger::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.h-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-nav__logo {
  display: none !important;
  position: absolute;
}

.h-nav__logo .logo__img {
  height: 100%;
}

.h-nav__item {
  display: block;
  margin-right: 3.125vw;
  position: relative;
}

.h-nav__item::after {
  content: "";
  position: absolute;
  display: none;
  bottom: -10px;
  width: 100%;
  height: 1px;
  background-color: #ff5d29;
}

.h-nav__item:hover::after {
  display: block;
}

.h-nav__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-nav__about {
  display: none;
  margin-top: auto;
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
}

.h-nav__about a {
  margin: -15px 0;
}

.h-nav__about span {
  padding: 0 11px;
}

.h-nav__close {
  width: 15px;
  height: 15px;
  position: absolute;
  display: none;
  cursor: pointer;
  right: 25px;
  top: 40px;
}

.bucket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.bucket__bucket {
  position: relative;
  width: 40px;
  height: 40px;
  background: url("../img/bucket.svg") center/contain no-repeat;
}

.bucket__item-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 12px;
  color: #000000;
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bucket__sum {
  font-family: "RobotoBold";
  font-size: 18px;
  margin-left: 10px;
}

.main {
  margin-top: 90px;
}

.select-location {
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 20px;
  position: absolute;
  top: 0;
}

.select-location__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.select-location__control::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  -webkit-filter: brightness(0);
  filter: brightness(0);
  background: url("../img/location-icon.svg") center/contain no-repeat;
}

.select-location__value-container {
  font-family: MontserratSemiBold;
  font-size: 17px;
  color: #0d0d0d;
}

.select-location__indicators {
  margin-left: 6px;
}

.select-location__indicator {
  width: 18px;
  height: 11px;
  background: url("../img/arrow-dropdown.svg") center/contain no-repeat;
}

.select-location__menu {
  background-color: #ffffff;
  margin-top: 15px;
  display: grid;
  margin-bottom: -10px;
  grid-column-gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.select-location__option {
  cursor: pointer;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0;
  margin: 5px 0;
  color: #000000;
}

.tproposals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tproposals__wrapper {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 125px 0px 220px;
}

.tproposals__heading {
  font-size: 60px;
  color: #343434;
  font-family: "MontserratSemiBold";
}

.tproposals__description {
  color: #5a5a5a;
  padding-top: 25px;
  font-size: 24px;
}

.tproposals__proposal {
  margin-top: 75px;
}

.tproposal {
  width: 100%;
}

.tproposal__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  font-family: MontserratMedium;
  font-size: 48px;
}

.tproposal__show-more {
  position: relative;
  margin-right: 50px;
  margin-left: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-family: MontserratMedium;
  padding: 12px 15px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: none;
  color: #FF5D29;
  -ms-flex-item-align: center;
  align-self: center;
}

.tproposal__show-more::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-top: 1px solid #FF5D29;
  border-right: 1px solid #FF5D29;
  color: #FF5D29;
}

.tproposal__show-more:hover {
  font-family: MontserratBold;
  letter-spacing: -0.02em;
}

.tproposal__show-more:hover::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.tproposal__row {
  width: 100%;
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.tproposal__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.tproposal__item {
  padding: 0 10px;
}

.tp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tp-item__img {
  height: 220px;
  width: auto;
}

.tp-item__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.tp-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px 40px 40px;
}

.tp-item__heading {
  font-size: 24px;
  font-family: MontserratBold;
}

.tp-item__description {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 65px;
  font-size: 13px;
  color: #474747;
  overflow: hidden;
}

.tp-item__to-bucket {
  margin-left: auto;
  cursor: pointer;
  color: #ffffff;
  width: 129px;
  height: 40px;
  border-radius: 44px;
  background-color: #ff6938;
  border-width: 0px;
}

.tp-item__to-bucket:hover {
  -webkit-box-shadow: 0px 5px 10px #ff6938;
  box-shadow: 0px 5px 10px #ff6938;
}

.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  -webkit-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
  -webkit-box-shadow: 4px 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 35px rgba(0, 0, 0, 0.1);
}

.sidenav.active {
  width: 200px;
}

.sidenav.active::before {
  display: block;
}

.sidenav__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px 0 0 14px;
}

.sidenav::before {
  content: "";
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.sidenav__wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 200px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 0 35px rgba(0, 0, 0, 0.1);
}

.sidenav__menu {
  margin: auto 0;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sidenav__menu-item {
  cursor: pointer;
  margin: 23px 0;
}

.sidenav__sets::before {
  background-image: url("../img/sidenav/sets.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidenav__sets:hover::before {
  background-image: url("../img/sidenav/sets-active.svg");
}

.sidenav__rolls::before {
  background-image: url("../img/sidenav/rolls.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidenav__rolls:hover::before {
  background-image: url("../img/sidenav/rolls-active.svg");
}

.sidenav__sushi::before {
  background-image: url("../img/sidenav/sushi.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidenav__sushi:hover::before {
  background-image: url("../img/sidenav/sushi-active.svg");
}

.sidenav__soups::before {
  background-image: url("../img/sidenav/soups.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidenav__soups:hover::before {
  background-image: url("../img/sidenav/soups-active.svg");
}

.sidenav__drinks::before {
  background-image: url("../img/sidenav/drinks.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sidenav__drinks:hover::before {
  background-image: url("../img/sidenav/drinks-active.svg");
}

.m-item__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-item__icon::before {
  content: "";
  margin-right: 30px;
  display: block;
  width: 50px;
  height: 50px;
}

.m-item:hover .m-item__text {
  color: #ff5d29;
}

.m-item__text {
  color: #434343;
  font-family: MontserratSemiBold;
  font-size: 18px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo__text {
  margin-left: 17px;
}

.__container__ {
  width: 100%;
  margin: 0 calc(30px + 280 * ((100vw - 1300px) /620)) 0 calc(130px + 180 * ((100vw - 1300px) /620));
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 90px;
  background-image: -o-linear-gradient(330deg, #2b5263 0%, #223e48 51%, #142930 100%);
  background-image: linear-gradient(120deg, #2b5263 0%, #223e48 51%, #142930 100%);
  width: 100%;
  -webkit-box-shadow: 0 9px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.25);
}

.banner__wrapper {
  width: 100%;
  position: relative;
}

.banner .__container__ {
  margin: 0 0 0 calc(130px + 180 * ((100vw - 1300px) /620));
  width: 100%;
}

.banner__slider {
  height: 910px;
}

.banner__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  cursor: pointer;
  bottom: 195px;
  color: #ffffff;
  right: 5.38462%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.banner__more::after {
  display: block;
  margin-left: 8px;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/down-arrow.svg") center/contain no-repeat;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.bnr-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bnr-slider__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.bnr-slider__slide {
  width: 100%;
  padding: 70px 0 155px 0;
  color: #ffffff;
}

.bnr-slider__pagination {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 155px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.bnr-slider__pagination [class*="bullet"] {
  cursor: pointer;
  width: 11px;
  height: 11px;
  margin: 0 12.5px;
  background-color: rgba(174, 174, 174, 0.37);
  border-radius: 50%;
}

.bnr-slider__pagination [class*="bullet"][class*="active"] {
  background-color: #ff5d29;
}

.bnr-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bnr-slide__heading {
  font-size: 60px;
  font-family: "MontserratBold";
}

.bnr-slide__text {
  font-size: 24px;
  padding: 55px 0;
  font-family: "MontserratMedium";
}

.bnr-slide__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  font-family: "MontserratSemiBold";
  width: 260px;
  height: 76px;
  background: #ff5d29;
  border-radius: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bnr-slide__btn:hover {
  -webkit-box-shadow: 0px 5px 10px #ff5d29;
  box-shadow: 0px 5px 10px #ff5d29;
}

.bnr-slide__img-col {
  margin-left: auto;
}

.bnr-slide__txt-col {
  padding-top: 100px;
  width: 650px;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -o-linear-gradient(330deg, #2b5263 0%, #223e48 51%, #142930 100%);
  background-image: linear-gradient(120deg, #2b5263 0%, #223e48 51%, #142930 100%);
}

.delivery__wrapper {
  color: white;
  width: 100%;
  padding: 65px 0 90px;
}

.delivery__heading {
  padding-left: 15px;
}

.delivery__heading h2 {
  font-family: MontserratBold;
  font-size: 55px;
  margin-bottom: 10px;
}

.delivery__heading h3 {
  font-family: MontserratMedium;
  font-size: 42px;
}

.delivery__features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.delivery__features {
  margin-top: 40px;
  margin-bottom: 60px;
}

.delivery__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  font-family: "RobotoMedium";
  width: 230px;
  height: 68px;
  background: #ff5d29;
  border-radius: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.d-feature {
  position: relative;
  padding: 90px 0 0 45px;
}

.d-feature__number {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: MontserratBold;
  color: rgba(210, 210, 210, 0.21);
  font-size: 144px;
  position: absolute;
  top: 0;
  left: 0;
}

.d-feature__heading {
  font-family: MontserratBold;
  font-size: 24px;
  margin-bottom: 20px;
}

.d-feature__description {
  width: 300px;
  font-size: 14px;
  line-height: 1.28571;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding: 65px 0 100px 0;
}

.restaurants__wrapper {
  width: 100%;
}

.restaurants__heading {
  margin: 0 0 75px 0;
  color: #0f0e34;
  text-align: center;
  font-family: MontserratBold;
  font-size: 48px;
}

.restaurants__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restaurants__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.restaurants__address {
  color: #131313;
  font-family: MontserratSemiBold;
  font-size: 18px;
  margin-bottom: 50px;
}

.restaurants__working-hours {
  margin-top: 5px;
  color: #2b2b2b;
  font-family: Montserrat;
  font-size: 18px;
}

.restaurants__gmap {
  margin-left: auto;
}

.r-contacts__heading {
  font-family: MontserratSemiBold;
  font-size: 24px;
  margin-bottom: 20px;
}

.r-contacts__contact {
  font-size: 18px;
  margin-bottom: 15px;
}

.r-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.r-contacts__phone::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  -webkit-filter: brightness(0%);
  filter: brightness(0%);
  background: url("../img/footer-phone.svg") center/contain no-repeat;
}

.r-contacts__work-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.r-contacts__work-hours::before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  width: 22px;
  height: 22px;
  background: url("../img/clock.svg") center/contain no-repeat;
}

.r-contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.r-contacts__mail::before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  width: 22px;
  height: 22px;
  background: url("../img/email.svg") center/contain no-repeat;
}

.bucket-popup {
  display: none;
  width: 585px;
  position: fixed;
  top: 100px;
  right: calc(0px + 280 * ((100vw - 1000px) /920));
  z-index: 3;
  color: #000000;
  -webkit-box-shadow: 0px 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0 35px rgba(0, 0, 0, 0.1);
}

.bucket-popup::after {
  content: "";
  position: fixed;
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.bucket-popup.active {
  -webkit-animation: fadeIn 0.25s ease;
  animation: fadeIn 0.25s ease;
  display: block;
}

.bucket-popup.active::after {
  display: block;
}

.bucket-popup__wrapper {
  position: relative;
  padding: 55px 80px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  z-index: 3;
}

.bucket-popup__wrapper::before {
  content: "";
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 25px solid #ffffff;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 80px;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.bucket-popup__heading {
  position: relative;
  width: 100%;
  font-family: MontserratBold;
  font-size: 28px;
  padding-bottom: 30px;
}

.bucket-popup__close-btn {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 20px;
  right: 0;
  top: 5px;
}

.bucket-popup__close-btn::before,
.bucket-popup__close-btn::after {
  content: "";
  background-color: #fa3232;
  position: absolute;
  display: block;
  width: 21px;
  height: 1px;
}

.bucket-popup__close-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.bucket-popup__close-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bucket-popup__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}

.bucket-popup__result {
  position: relative;
}

.bucket-popup__result::before {
  content: "";
  background-color: rgba(108, 108, 108, 0.28);
  width: 585px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
}

.bp-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 40px;
}

.bp-item__delete {
  width: 20px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/delete-bucket.svg") center/contain no-repeat;
}

.bp-item__delete:hover {
  background-image: url("../img/active-bucket.svg");
}

.bp-item__img {
  width: 150px;
}

.bp-item__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bp-item__info {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5px;
  padding-bottom: 15px;
}

.bp-item__name {
  font-family: MontserratMedium;
  font-size: 22px;
}

.bp-item__weight {
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.49);
  font-size: 14px;
}

.bp-item__cost {
  font-family: MontserratSemiBold;
  font-size: 18px;
}

.item-cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-right: 35px;
  font-family: MontserratSemiBold;
}

.item-cnt__less,
.item-cnt__num,
.item-cnt__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: inherit;
  font-weight: bold;
}

.item-cnt__less {
  width: 35px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border: 1px solid #000000;
  font-size: 18px;
}

.item-cnt__num {
  width: 25px;
  font-size: 14px;
  position: relative;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: #000000;
  font-family: MontserratMedium;
}

.item-cnt__more {
  width: 35px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid #000000;
  font-size: 18px;
}

.bp-res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.bp-res__sum {
  font-family: MontserratBold;
  font-size: 22px;
  margin-right: 40px;
}

.bp-res__order-btn {
  width: 199px;
  height: 58px;
  border-radius: 63px;
  border-width: 0;
  background-color: #ff6938;
  color: #ffffff;
  font-family: MontserratSemiBold;
  font-size: 18px;
}

.popup {
  background-color: #fff;
  position: absolute;
  right: 50%;
  top: 30%;
  z-index: 10;
  padding: 60px 52px;
  border-radius: 15px;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 18px;
  height: 18px;
  right: 0;
  top: 5px;
}

.popup__close::before,
.popup__close::after {
  content: "";
  background: #878787;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
}

.popup__close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup__wrapper {
  position: relative;
}

.popup__title {
  font-family: MontserratSemiBold;
  font-size: 24px;
  color: #110a3a;
}

.popup__auxiliary-text {
  font-size: 13px;
  margin-top: 25px;
  color: #717171;
}

.popup__form {
  padding-top: 20px;
}

.popup__form-group-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup__form-group-checkbox input {
  display: none;
}

.popup__form-group-checkbox input:checked + label {
  background-color: #2ed477;
  border: none;
}

.popup__form-group-checkbox input:checked + label::before {
  -webkit-filter: none;
  filter: none;
}

.popup__form-group-checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #b9b9b9;
  background-color: white;
  margin-right: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__form-group-checkbox label::before {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background: url("../img/check-sign.svg");
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
}

.popup__form-group-checkbox label:hover {
  border-color: #2ed477;
}

.popup__form-group-checkbox label:hover::before {
  -webkit-filter: brightness(60%) sepia(95%) saturate(200%) hue-rotate(93deg) contrast(93%);
  filter: brightness(60%) sepia(95%) saturate(200%) hue-rotate(93deg) contrast(93%);
}

.popup__form-group-checkbox label--checked {
  border-radius: 50%;
  background-color: #7ac74f;
  border: none;
  position: relative;
}

.popup__form-group {
  position: relative;
  margin-bottom: 16px;
}

.popup__form-group label {
  position: absolute;
  font-family: Roboto;
  left: 16px;
  top: 50%;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #fff;
  padding: 2px;
  margin-left: -2px;
  color: rgba(103, 117, 141, 0.56);
}

.popup__form-group input {
  font-size: 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  position: relative;
  width: 350px;
  height: 50px;
  padding: 10px 16px;
}

.popup__form-group input:focus + label {
  font-size: 12px;
  top: 0;
}

.popup__form-group .warning {
  position: absolute;
  font-size: 12px;
  font-family: Roboto;
  right: 16px;
  top: 50%;
  background-color: #fff;
  padding: 2px;
  margin-left: -2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ff4a4a;
  display: none;
}

.popup__form-group--invalid::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: url("../img/warning-sign.svg") center/contain no-repeat;
}

.popup__form-group--invalid label {
  color: #ff4a4a;
}

.popup__form-group--invalid input {
  border-color: #ff2222;
}

.popup__form-group--invalid .warning {
  top: 0;
  display: block;
}

.popup__checkbox-text {
  font-family: Roboto;
  color: #67758d;
  font-size: 13px;
}

.popup__submit-btn {
  border: none;
  margin-top: 15px;
  font-family: RobotoMedium;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 56px;
  background: #ff5d29;
  border-radius: 6px;
}

.popup__link {
  font-family: RobotoMedium;
  font-size: 14px;
  color: #ff5d29;
  margin-left: 10px;
}

.popup__link-text {
  margin-top: 60px;
  color: #67758d;
  font-size: 14px;
  font-family: Roboto;
}

.payment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-block__wrapper {
  padding-top: 70px;
}

.payment-block__heading {
  padding-bottom: 45px;
  color: #343434;
  font-family: MontserratSemiBold;
  font-size: 36px;
}

.payment-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.payment-block__row::before {
  content: "";
  position: absolute;
  right: 50%;
  width: 1px;
  height: 100%;
  background-color: #a4a4a4;
}

.payment-block__col {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.payment-block__ordered-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 85px;
}

.payment-block__ordered-item {
  margin-bottom: 65px;
}

.payment-block__additional-item td {
  padding-bottom: 30px;
}

.payment-block__order-additional {
  margin-left: auto;
}

.order-additional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

.order-additional__col {
  width: 200px;
}

.order-additional__col:first-child {
  margin-left: auto;
  margin-right: 130px;
}

.order-additional__heading {
  color: #343434;
  font-family: MontserratBold;
  font-size: 24px;
}

.order-additional__checkbox {
  margin-bottom: 12px;
  font-family: MontserratSemiBold;
  color: #343434;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-additional__checkbox input {
  display: none;
}

.order-additional__checkbox label {
  margin-right: 15px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 38px;
  border: 1px solid #ff6938;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.order-additional__checkbox input:checked + label {
  border-width: 3px;
}

.order-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-sum__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-sum__name {
  margin-bottom: 35px;
}

.order-sum__amount {
  margin-left: auto;
  color: #000000;
  font-size: 14px;
}

.order-sum__heading {
  color: #959595;
  font-size: 12px;
}

.order-sum__order-btn {
  margin-left: auto;
  font-family: MontserratMedium;
  color: #ffffff;
  font-size: 14px;
  border: none;
  margin-top: 15px;
  width: 136px;
  height: 40px;
  border-radius: 40px;
  background-color: #ff6938;
}

.order-sum__all {
  margin-top: 15px;
}

.order-sum__all--amount {
  font-size: 24px;
  font-family: MontserratSemiBold;
}

.ad-item {
  color: #7e7e7e;
  font-size: 14px;
}

.ad-item__naming {
  padding-right: 10px;
}

.ad-item__checkbox {
  padding-left: 60px;
}

.ad-item__checkbox input {
  display: none;
}

.ad-item__checkbox label {
  display: block;
  width: 31px;
  height: 18px;
  border-radius: 38px;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.ad-item__checkbox label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cacaca;
  -webkit-transition: left 0.1s ease;
  -o-transition: left 0.1s ease;
  transition: left 0.1s ease;
}

.ad-item__checkbox input:checked + label::before {
  width: 12px;
  height: 12px;
  background-color: #ff6938;
  left: 15px;
}

.add-info {
  font-size: 13px;
}

.add-info label {
  color: #818181;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
}

.add-info input {
  color: #000000;
  border-width: 0 0 1px 0;
}

.add-info__heading {
  margin-bottom: 45px;
}

.add-info__name {
  position: relative;
  margin-bottom: 30px;
}

.add-info__phone {
  position: relative;
}

.oa-payment__heading {
  margin-bottom: 35px;
}

.oa-delivery__heading {
  margin-bottom: 25px;
}

.oa-delivery__text {
  color: #141414;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.41667;
}

.oa-delivery__text b {
  font-family: MontserratSemiBold;
}

.oa-delivery__text-heading {
  line-height: 1;
  margin-bottom: 10px;
  color: #8d8d8d;
}

.bp-item {
  width: auto;
  padding-right: 60px;
}

.bp-item__additionals {
  margin-top: 13px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.49);
}

.bp-item__info {
  padding-left: 30px;
}

.bp-item__total {
  padding-top: 20px;
}

.counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background: #7AC74F;
}

.counter-button::after,
.counter-button::before {
  content: '';
  display: none;
  position: absolute;
  height: 2px;
  width: 14px;
  background: #ffffff;
  border-radius: 3000px;
}

.counter-button::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.counter-button--add::after,
.counter-button--add::before {
  display: block;
}

.counter-button--substract::after {
  display: block;
}

.counter-button--outlined {
  border: 1px solid #7AC74F;
  background: #ffffff;
}

.counter-button--outlined::after,
.counter-button--outlined::before {
  background: #7AC74F;
}

.radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: MontserratSemiBold;
  font-size: 12px;
  color: #343434;
}

.radio-input input {
  display: none;
}

.radio-input__checkbox {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid #7AC74F;
}

input:checked + .radio-input__checkbox {
  border-width: 4px;
}

.payment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-block__wrapper {
  padding-top: 70px;
}

.payment-block__heading {
  padding-bottom: 45px;
  color: #343434;
  font-family: MontserratSemiBold;
  font-size: 36px;
}

.payment-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.payment-block__row::before {
  content: "";
  position: absolute;
  right: 50%;
  width: 1px;
  height: 100%;
  background-color: #a4a4a4;
}

.payment-block__col {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.payment-block__ordered-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 85px;
}

.payment-block__ordered-item {
  margin-bottom: 65px;
}

.payment-block__additional-item td {
  padding-bottom: 30px;
}

.payment-block__order-additional {
  margin-left: auto;
}

.order-additional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

.order-additional__col {
  width: 200px;
}

.order-additional__col:first-child {
  margin-left: auto;
  margin-right: 130px;
}

.order-additional__heading {
  color: #343434;
  font-family: MontserratBold;
  font-size: 24px;
}

.order-additional__checkbox {
  margin-bottom: 12px;
  font-family: MontserratSemiBold;
  color: #343434;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-additional__checkbox input {
  display: none;
}

.order-additional__checkbox label {
  margin-right: 15px;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 38px;
  border: 1px solid #ff6938;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.order-additional__checkbox input:checked + label {
  border-width: 3px;
}

.order-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.order-sum__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-sum__name {
  margin-bottom: 35px;
}

.order-sum__amount {
  margin-left: auto;
  color: #000000;
  font-size: 14px;
}

.order-sum__heading {
  color: #959595;
  font-size: 12px;
}

.order-sum__order-btn {
  margin-left: auto;
  font-family: MontserratMedium;
  color: #ffffff;
  font-size: 14px;
  border: none;
  margin-top: 15px;
  width: 136px;
  height: 40px;
  border-radius: 40px;
  background-color: #ff6938;
}

.order-sum__all {
  margin-top: 15px;
}

.order-sum__all--amount {
  font-size: 24px;
  font-family: MontserratSemiBold;
}

.ad-item {
  color: #7e7e7e;
  font-size: 14px;
}

.ad-item__naming {
  padding-right: 10px;
}

.ad-item__checkbox {
  padding-left: 60px;
}

.ad-item__checkbox input {
  display: none;
}

.ad-item__checkbox label {
  display: block;
  width: 31px;
  height: 18px;
  border-radius: 38px;
  border: 1px solid #000000;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
}

.ad-item__checkbox label::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cacaca;
  -webkit-transition: left 0.1s ease;
  -o-transition: left 0.1s ease;
  transition: left 0.1s ease;
}

.ad-item__checkbox input:checked + label::before {
  width: 12px;
  height: 12px;
  background-color: #ff6938;
  left: 15px;
}

.add-info {
  font-size: 13px;
}

.add-info label {
  color: #818181;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
}

.add-info input {
  color: #000000;
  border-width: 0 0 1px 0;
}

.add-info__heading {
  margin-bottom: 45px;
}

.add-info__name {
  position: relative;
  margin-bottom: 30px;
}

.add-info__phone {
  position: relative;
}

.oa-payment__heading {
  margin-bottom: 35px;
}

.oa-delivery__heading {
  margin-bottom: 25px;
}

.oa-delivery__text {
  color: #141414;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.41667;
}

.oa-delivery__text b {
  font-family: MontserratSemiBold;
}

.oa-delivery__text-heading {
  line-height: 1;
  margin-bottom: 10px;
  color: #8d8d8d;
}

.bp-item {
  width: auto;
  padding-right: 60px;
}

.bp-item__additionals {
  margin-top: 13px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.49);
}

.bp-item__info {
  padding-left: 30px;
}

.bp-item__total {
  padding-top: 20px;
}

.counter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 22px;
  height: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background: #7AC74F;
}

.counter-button::after,
.counter-button::before {
  content: '';
  display: none;
  position: absolute;
  height: 2px;
  width: 14px;
  background: #ffffff;
  border-radius: 3000px;
}

.counter-button::before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.counter-button--add::after,
.counter-button--add::before {
  display: block;
}

.counter-button--substract::after {
  display: block;
}

.counter-button--outlined {
  border: 1px solid #7AC74F;
  background: #ffffff;
}

.counter-button--outlined::after,
.counter-button--outlined::before {
  background: #7AC74F;
}

.radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: MontserratSemiBold;
  font-size: 12px;
  color: #343434;
}

.radio-input input {
  display: none;
}

.radio-input__checkbox {
  width: 16px;
  height: 16px;
  margin-right: 16px;
  border-radius: 50%;
  border: 1px solid #7AC74F;
}

input:checked + .radio-input__checkbox {
  border-width: 4px;
}

.i-arrow {
  background: url("../img/arrow.svg") center/contain no-repeat;
}

.i-search {
  background: url("../img/search.svg") center/contain no-repeat;
}

.i-close {
  background: url("../img/close-icon.svg") center/contain no-repeat;
}

img {
  width: 100%;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1300px) {
  .__container__ {
    margin: 0 30px 0 130px;
  }

  .banner .__container__ {
    margin: 0 0 0 130px;
  }
}

@media (max-width: 1024px) {
  .header__wrapper {
    height: calc(80px + 10 * ((100vw - 768px) /256));
  }

  .bucket__bucket {
    width: calc(35px + 5 * ((100vw - 768px) /256));
    height: calc(35px + 5 * ((100vw - 768px) /256));
  }

  .bucket__sum {
    font-size: calc(14px + 4 * ((100vw - 768px) /256));
  }

  .bucket {
    margin-left: auto;
  }

  .sidenav {
    top: auto;
    bottom: 0;
    width: 100%;
    height: calc(50px + 30 * ((100vw - 320px) /680));
  }

  .sidenav::before {
    display: none !important;
  }

  .sidenav.active {
    width: 100%;
  }

  .sidenav__logo {
    display: none;
  }

  .sidenav__wrapper {
    width: 100%;
  }

  .sidenav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin: auto;
  }

  .sidenav__menu-item {
    margin: 0 calc(13px + 22 * ((100vw - 320px) /680));
  }

  .m-item__icon::before {
    width: calc(35px + 15 * ((100vw - 768px) /256));
    height: calc(35px + 15 * ((100vw - 768px) /256));
    margin: 0;
  }

  .m-item__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .m-item__text {
    font-size: calc(13px + 5 * ((100vw - 768px) /256));
  }

  .__container__ {
    margin: 0 30px;
  }
}

@media (max-width: 1000px) {
  .banner .__container__ {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 768px) {
  .header {
    z-index: 3;
  }

  .header__wrapper {
    height: calc(50px + 30 * ((100vw - 320px) /448));
    font-size: 14px;
  }

  .header__nav {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 3;
    width: 275px;
    height: 100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }

  .header__nav.active {
    left: 0;
  }

  .header__contact {
    position: absolute;
    left: 35%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .header__contact::before {
    margin-right: 12px;
    width: 20px;
    height: 18px;
    background: url("../img/phone.svg") center/contain no-repeat;
  }

  .header__burger {
    display: block;
  }

  .header__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .h-nav__logo {
    top: 22px;
    left: 22px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 53px;
  }

  .h-nav__item {
    padding: 15px 0;
    margin: 0 0 35px 0;
  }

  .h-nav__item:hover::after {
    display: none;
  }

  .h-nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #ffffff;
    font-family: MontserratSemiBold;
    font-size: 17px;
    color: #000123;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 150px 0 50px 0px;
  }

  .h-nav__items-wrapper {
    margin: -15px 0px;
    padding-left: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .h-nav__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .h-nav__close {
    display: block;
  }

  .h-nav.active::before {
    content: "";
    position: fixed;
    display: block;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
  }

  .bucket__bucket {
    width: calc(15px + 20 * ((100vw - 320px) /448));
    height: calc(15px + 20 * ((100vw - 320px) /448));
  }

  .bucket__item-cnt {
    font-size: calc(8px + 4 * ((100vw - 320px) /448));
    width: calc(8px + 5 * ((100vw - 320px) /448));
    height: calc(8px + 5 * ((100vw - 320px) /448));
  }

  .bucket__sum {
    font-size: calc(9px + 5 * ((100vw - 320px) /448));
  }

  .m-item__icon::before {
    width: calc(25px + 10 * ((100vw - 320px) /448));
    height: calc(25px + 10 * ((100vw - 320px) /448));
  }

  .m-item__text {
    font-size: calc(9px + 4 * ((100vw - 320px) /448));
  }

  .__container__ {
    margin: 0 20px;
  }
}

@media (max-width: 500px) {
  .header__contact {
    display: none;
  }

  .header__burger {
    width: 19px;
    height: 15px;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    height: 3px;
  }

  .m-item__text {
    font-family: MontserratMedium;
    color: #161616;
  }
}