.history-item {
  padding: 0px 55px 0 45px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(19, 16, 57, 0.05);
  border-radius: 13px;
  font-size: 16px;
  position: relative;
  color: #343434;
  &:hover {
    box-shadow: 0px 0px 30px rgba(19, 16, 57, 0.2);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    height: 145px;
  }
  &__info {
    align-self: flex-start;
    font-family: mm;
    flex: 0 0 215px;
  }
  &__price {
    text-align: center;
    font-family: mm;
    flex: 0 0 180px;
  }
  &__photos {
  }
  &__hiden-items {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.49);
  }
  &__button {
    height: 40px;
    font-size: 0.875rem;
  }
  &__hiden-photos {
    display: flex;
    align-items: center;
    padding: 0 10px;
    span,
    &::before,
    &::after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #606060;
    }
    span {
      margin: 7px;
    }
  }
  &__date {
    font-size: 1.15rem;
    padding-top: 15px;
    font-family: rm;
  }
  &__price {
  }
  &__photos {
    display: flex;
    margin: 0 -20px;
  }
  &__photo {
    margin: 0 20px;
    width: 110px;
    height: 105px;
  }
  &__item-info {
    display: flex;
    font-family: mm;
    align-items: center;
    margin-bottom: 10px;
  }
  &__item-name {
    flex: 0 0 85%;
    text-overflow: ellipsis;
  }
  &__item-count {
    vertical-align: middle;
    font-size: 14px;
    margin-left: auto;
  }
  &__items-list {
    width: 100%;
    padding: 15px 0 15px;
    .history-item {
      &__wrapper {
        height: 105px;
      }
      &__info {
        margin-bottom: -10px;
        align-self: auto;
      }
      &__photo {
        margin: 0;
      }
    }
  }
  &__like-btn {
    color: #ff6938;
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    span {
      margin-right: 20px;
      font-size: 2rem;
    }
    &:hover {
      border-bottom: 1px solid #ff6938;
      margin-bottom: -1px;
    }
  }
  &__cart-btn {
    margin-left: auto;
  }
  &__result {
    display: flex;
    height: 110px;
    align-items: center;
  }
  &__dash {
    display: block;
    background-color: rgba(74, 74, 74, 0.14);
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
  }
  &__order-info {
    flex: 0 0 270px;
    margin: -5px;
    font-size: 0.8rem;
    p {
      display: flex;
      margin: 5px;
      span {
        font-family: msb;
        margin-left: auto;
      }
    }
  }
  &__order-sum {
    margin-left: auto;
    margin-right: 60px;
    span {
      font-family: msb;
      font-size: 1.3rem;
    }
  }
}
