$maxWidthContainer: 1300;
$minWidthContainer: 300;

$b1: 1024;
$b2: 768;
$b3: 320;

@import "assets/sass/fonts";
@import "assets/sass/utils/reset";

img {
  width: 100%;
  height: 100%;
}

button,
input {
  cursor: pointer;
}
* {
  box-sizing: border-box !important;
}

body {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

.main {
  flex-grow: 1;
}

.row {
  display: flex;
}

.__container {
  display: flex;
}

.__content-wrapper {
  max-width: 1360px;
  padding: 0 30px;
}
