.menu-item {
  position: relative;
  &__like-btn {
    visibility: hidden;
    position: absolute;
    top: 255px;
    right: 35px;
    border-color: #cfcfcf;
  }
  &__remove-btn {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #ff5d29;
    border-width: 0;
    &::after,
    &::before {
      background-color: #fff;
    }
  }
  &:hover &__like-btn,
  &:hover &__remove-btn {
    visibility: visible;
  }
  &:hover {
    cursor: default;
  }
}
