@import "../../assets/sass/variables.scss";
@import "../../assets/sass/utils/functions.scss";
.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  overflow: hidden;
  z-index: 2;
  height: 100vh;
  transition: width 0.3s ease;
  box-shadow: 4px 0 35px rgba(0, 0, 0, 0.1);
  @media (max-width: #{$b1}px) {
    top: auto;
    bottom: 0;
    width: 100%;
    height: adaptVal(80, 50, 1000, 320);
    &::before {
      display: none !important;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 200px;
    height: 100%;
    @media (max-width: #{$b1}px) {
      flex-direction: row;
      width: 100%;
      padding: 0;
    }
  }

  &__logo {
    position: absolute;
    margin: 12px 0 0 14px;
    @media (max-width: #{$b1}px) {
      display: none;
    }
  }

  &__menu {
    padding-left: 20px;
    margin: auto 0;
  }

  &--active {
    width: 200px;
    &::before {
      display: block !important;
    }
    @media (max-width: #{$b1}px) {
      width: 100%;
    }
  }

  &::before {
    content: "";
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
  }

  &__menu-item {
    cursor: pointer;
    margin: 23px 0;
    @media (max-width: #{$b1}px) {
      margin: 0 adaptVal(35, 13, 1000, 320);
    }
  }
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  @media (max-width: #{$b1}px) {
    flex-direction: row;
  }
  &__link {
    margin: 17.5px 0;
    display: flex;
    align-items: center;
    color: #434343;
    font-family: MontserratSemiBold;
    font-size: 18px;
    @media (max-width: #{$b1}px) {
      font-size: adaptVal(18, 13, $b1, $b2);
      flex-direction: column;
    }
    @media (max-width: #{$b2}px) {
      font-size: adaptVal(13, 9, $b2, $b3);
    }
    @media (max-width: #{$b3}px) {
      font-family: MontserratMedium;
      color: #161616;
    }
    &::before {
      content: "";
      margin-right: 30px;
      display: block;
      width: 50px;
      height: 50px;
      @media (max-width: #{$b1}px) {
        width: adaptVal(50, 35, $b1, $b2);
        height: adaptVal(50, 35, $b1, $b2);
        margin: 0;
      }
      @media (max-width: #{$b2}px) {
        width: adaptVal(35, 25, $b2, $b3);
        height: adaptVal(35, 25, $b2, $b3);
      }
    }
    &.i-sets {
      &::before {
        background: url("../../assets/img/sidenav/sets.svg") center/contain
          no-repeat;
      }
    }
    &.i-rolls {
      &::before {
        background: url("../../assets/img/sidenav/rolls.svg") center/contain
          no-repeat;
      }
    }
    &.i-sushi {
      &::before {
        background: url("../../assets/img/sidenav/sushi.svg") center/contain
          no-repeat;
      }
    }
    &.i-soups {
      &::before {
        background: url("../../assets/img/sidenav/soups.svg") center/contain
          no-repeat;
      }
    }
    &.i-drinks {
      &::before {
        background: url("../../assets/img/sidenav/drinks.svg") center/contain
          no-repeat;
      }
    }

    &--active,
    &:hover {
      color: #ff5d29;
      &.i-sets {
        &::before {
          background: url("../../assets/img/sidenav/sets-active.svg")
            center/contain no-repeat;
        }
      }
      &.i-rolls {
        &::before {
          background: url("../../assets/img/sidenav/rolls-active.svg")
            center/contain no-repeat;
        }
      }
      &.i-sushi {
        &::before {
          background: url("../../assets/img/sidenav/sushi-active.svg")
            center/contain no-repeat;
        }
      }
      &.i-soups {
        &::before {
          background: url("../../assets/img/sidenav/soups-active.svg")
            center/contain no-repeat;
        }
      }
      &.i-drinks {
        &::before {
          background: url("../../assets/img/sidenav/drinks-active.svg")
            center/contain no-repeat;
        }
      }
    }
  }
}

.__container {
  width: 100%;
  padding: 0 100px;
  // @media (max-width: 1300px) {
  //   margin: 0 30px 0 130px;
  // }
  // @media (max-width: #{$b1}px) {
  //   margin: 0 30px;
  // }
  // @media (max-width: #{$b2}px) {
  //   margin: 0 20px;
  // }
}
.__content-wrapper {
  margin: auto;
}
